/* ? ---------- Input ---------- ? */
.ant-input {
  width: 100% !important;
}

.green-checkbox .ant-checkbox-inner {
  border-color: #40c45f;
}

.green-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #40c45f;
  border-color: #40c45f;
}

.green-checkbox:hover .ant-checkbox-inner {
  border-color: lightgreen;
}

/* ? ---------- Card ---------- ? */
.ant-card-body {
  padding: 0px !important;
}

/* ? --------- Menu --------- ? */

.ant-collapse-content-box {
  padding: 0px !important;
}

.ant-table-footer {
  padding: 0px !important;
}

.ant-table-placeholder .ant-table-cell {
  padding: 0px !important;
  margin: 0px !important;
}

.css-dev-only-do-not-override-1f4pemq.ant-empty {
  margin: 0px !important;
}

.ant-drawer-body {
  padding: 12px !important;
}

.ant-otp-input {
  width: 30px !important;
  height: 30px !important;
}

/* ant-input css-dev-only-do-not-override-1htoz2s ant-input-outlined ant-otp-input */

/* ปิด spinner (ลูกศรขึ้นลง) ใน Chrome/Safari */
.ant-otp-input::-webkit-inner-spin-button,
.ant-otp-input::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* ปิด spinner ใน Firefox */
.ant-otp-input {
  -moz-appearance: textfield !important;
}
